
body {
    font-family: 'Jost', sans-serif;
    background-color: #f0f5ff;
    transition: 0.5s;
  }
  

  .login-box {
    background-color: white;
    width: 25%;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
    transition: 0.5s;
   

  }

  .login-img {
   align-items: center;
   text-align: center;
   margin-top: 50px;
  }
.login-img img {
    width: 65px;
    height: 65px;
    border-radius: 100px;
}



  
  @media only screen and (max-width: 768px) {
    .login-box {
      width: 75%;
    }
  }
  
  @media only screen and (max-width: 1366px) {
    .login-box {
      width: 80%;
    }
  }
  
  .login-box.dark-mode {
    background-color: #2b2b2b;
  }
  
  .login-box h1 {
    text-align: center;
    color: #000000;
    transition: 0.5s;
    font-weight: 600;
    font-size: 20px;
  }
  
  .login-box h1.dark-mode {
    color: white;
  }
  
  form {
    display: grid;
    justify-items: center;
    margin-top: 30px;
  }
  
  button {
    width: 80%;
    margin-bottom: 20px;
    border: none;
    background-color: #f0f5ff;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    transition: 0.5s;
    color: #000000;
  }

  
  button:focus {
    outline: none;
  }
  
 form  button {
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    transition: 0.5s;
    margin-bottom: 30px;
    list-style: none;
    text-decoration: none;
  }

  a {
    
    width: 100%;
  }
  
 
  .social-img-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slack{
   width: 50.5px;
   height: 50.5px;
    
  }

  .github {
        width: 35px;
        height: 35px;
         
       }

       

       .line-content {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
       }

       .line-content .line {
       width: 90%;
       border: 1px solid rgba(128, 128, 128, 0.203);
       }

       footer .footer-content  {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        justify-items: center;
        margin-top: 30px;

       }
  
       


       footer .footer-content img {
        width: 150px;
        height: 35px;
       }

       footer .footer-content p {
        font-size: 16px;
        color: rgba(128, 128, 128, 0.493);
 
 
        }


       @media all and (max-width: 900px) {
      
       
    

         footer .footer-content img {
          width: 100px;
          height: 20px;
         }

         footer .footer-content p {
          font-size: 0.9rem;
          color: rgba(128, 128, 128, 0.523);
   
   
          }
  
       }

       
       
       @media all and (max-width: 550px) {
        footer .footer-content  {
        
          grid-template-columns: repeat(2, 1fr);
     
  
         }
       }

       
       @media all and (max-width: 500px) {
        footer .footer-content  {
          grid-template-columns: repeat(1, 1fr);
  
         }
       }